* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: rgb(34, 34, 34);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cruds {
  width: 80%;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .cruds {
    width: 90%;
  }
}
.cruds .header {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ff905d 40%, #b9b9f1 80%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.cruds .header h1 {
  padding: 10px;
}
.cruds .header p {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
}
#title {
  width: 100%;
  margin-bottom: 10px;
}
input {
  background-color: #111;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

input::placeholder {
  text-transform: capitalize;
  font-size: 14px;
}
input:focus {
  outline: none;
  transform: scale(104%);
  -webkit-transform: scale(104%);
  -moz-transform: scale(104%);
  -ms-transform: scale(104%);
  -o-transform: scale(104%);
  box-shadow: #ff905d 0px 0px 9px;
}

/* input:focus ::placeholder {
  display: none;
} */
.cruds .inputs .price {
  width: 100%;
  margin-bottom: 10px;
}
.cruds .inputs .price input {
  width: 20%;
}
#total {
  background-color: #337e11;
  padding: 5px 3px;
  border-radius: 6px;
  text-transform: capitalize;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
#total:before {
  content: "total: ";
}

#count,
#category,
button {
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  background-image: linear-gradient(45deg, #ff905d 10%, #36363f);
  color: #fff;
  text-transform: capitalize;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.2s;
}
button:hover {
  transform: scale(102%);
  background-image: linear-gradient(45deg, #b98973 10%, #8989bb 50%);
  /* color: #000000; */
  font-weight: 500;
  letter-spacing: .5px;
}
#search {
  width: 100%;
}
.searchbtn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

table {
  width: 100%;
  text-align: center;
  margin: 15px auto;
}

table th {
  text-transform: uppercase;
}

@media (max-width: 991px) {
  table {
    font-size: 12px;
  }
}
